<h1> Edit a kickstarter project!! </h1>

<%= form_for @project do |f| %>

  <%= f.label :project_name %>
  <%= f.text_field :name %> <br/>

  <%= f.label :description %>
  <%= f.text_field :description %><br/>

  <%= f.submit "Ready to update!" %>
<% end %>